/* TEAM */
#team {
    text-align: center;
    background-image: url(../../Images/banner_bg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2em 1em;
}
  
#team h1 {
    margin-top: 100px;
    font-weight: 800;
}
  
.teamtext img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
  
.teamtext {
    display: inline-block;
    text-align: center;
    width: 30%;
}
  