/* Contact */
#contact {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3em;
}
  
#contact h1 {
    font-weight: 800;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, textarea{
    padding: 5px;
}

input::placeholder, textarea::placeholder{
    color: rgb(160, 160, 160);
}

.form-group.full-width{
    grid-column: span 2;
}

.contact-button{
    display: flex;
    justify-content: center;
}

#contact button {
    margin: 1.3em 0;
    padding: 14px;
    width: 7em;
    border: none;
    border-radius: 15px;
    color: #000000;
    background-color: #f5ecec;
    transition: ease 0.3s;
}

#contact button:hover{
    cursor: pointer;
    background-color: #FA4949;
}

